<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875492626803-8l9ape4kpj74hcf8o6hm8a2fsa3l1ol7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875492626803-8l9ape4kpj74hcf8o6hm8a2fsa3l1ol7</string>
	<key>API_KEY</key>
	<string>AIzaSyCWdBpVOOURUGwPGkE1EFnjmyzreD_Ln6U</string>
	<key>GCM_SENDER_ID</key>
	<string>875492626803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leonljy.Mugic</string>
	<key>PROJECT_ID</key>
	<string>music-like-magic</string>
	<key>STORAGE_BUCKET</key>
	<string>music-like-magic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875492626803:ios:aa9de14336d53a81</string>
	<key>DATABASE_URL</key>
	<string>https://music-like-magic.firebaseio.com</string>
</dict>
</plist>